APP_NAME='Demo for OAuth2.0'
NEXT_PUBLIC_APP_NAME='Demo for OAuth2.0'
NODE_ENV=development
SESSION_SECRET=SESSION_SECRETSESSION_SECRETSESSION_SECRETSESSION_SECRETSESSION_SECRET
JWT_SECRET=JWT_SECRETJWT_SECRETJWT_SECRETJWT_SECRETJWT_SECRETJWT_SECRETJWT_SECRET
SESSION_TTL_IN_SEC=86400

NEXT_PUBLIC_GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=